body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "OpenSans-Light";
  src: local("OpenSans-Light"),
    url("./style/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: local("OpenSans-Regular"),
    url("./style/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Medium";
  src: local("OpenSans-Medium"),
    url("./style/fonts/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("./style/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("./style/fonts/Roboto-Light.ttf") format("truetype");
}
